.car {
  width: 100%;
  border-radius: 0.75rem;
}
.btn-orange {
  background: #ff8c00;
  color: #fff;
}


.page
{
    left: 100px;
}
.btn-orange:hover {
  background: #fb8500;
  color: #fff;
}
.card {
  border-radius: 0.75rem;
}
.card-img-top {
  height: 160px;
  object-fit: cover;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}