<div class="main-container">
  <div class="right-panel">
    <div class="form-box">
      <h2 class="mb-4" style="color: var(--navy-blue); font-weight: 500;">Forgot Password</h2>

      <form >
        <div class="mb-3">
          <label for="email" class="form-label">Enter your registered email</label>
          <input formControlName="email" type="email" class="form-control" id="email" required>
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-custom">Send Reset Link</button> 
        </div>
    </form>
    </div>
  </div>